* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
    vertical-align: baseline;
}

div,
h1,
pre,
strong,
p {
    user-select: none;
    -webkit-user-select: none;
    /* Para navegadores webkit */
    -moz-user-select: none;
    /* Para Firefox */
    -ms-user-select: none;
    /* Para Internet Explorer/Edge */
}

body {
    margin: 0 400px;
}


p,
h1 {
    user-select: none;
}

h1 {
    font-size: 1.3em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1,
strong {
    padding: 30px 0;
    text-align: center;

    font-family: "VT323", serif;
    font-weight: 400;
    font-style: normal;

    font-family: "Geist Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;

}

strong {
    font-size: .8em;
}

nav {
    padding: 30px 0;
    font-family: "VT323", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    padding-top: 20px;
    font-size: .8em;
    font-family: "Geist Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
}

li a {
    text-decoration: none;
    color: #827c7c;
}

li a:hover,
a:focus {
    color: #fff;
    background-color: rgba(63, 63, 63, 0.6);
}