* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
    vertical-align: baseline;
}



body {
    background-image: url('../../image/Leonardo_Phoenix_10_Image_is_a_seamless_repeating_pattern_with_3.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

li a {
    text-decoration: none;
}

header,
a {
    color: #69c;
}

ul li {
    list-style: none;
    padding: 0 10px;
}

ul li a {
    font-size: 1.2em;
    color: #fff;
}

ul li a:hover,
a:focus {
    text-shadow: 2px 2px 2px rgb(125, 190, 255);
}

h1 {
    color: #8a8a8a;
    font-size: 2em;
    font-weight: bold;
}